[submodule "submodules/stderred"]
	path = submodules/stderred
	url = git://github.com/sickill/stderred.git
    ignore=dirty
[submodule "submodules/sack"]
	path = submodules/sack
	url = https://github.com/maniek2332/sack
